img {
        width: 500px;
        height: 500px;
        margin: auto;
        border-radius: 20px;
        object-fit: cover;
        opacity: 0.5;
        transition: 0.8;
}
img:hover {
    opacity: 0.1;
    transform: scale(1.2);
    border: 1px white;
}