{% extends 'base.html' %}

{% block title %}
    เกี่ยวกับเรา
{% endblock %}

{% block content %}
<div class="container my-5">
  <h1 class="text-center mb-4"> Meme Gallery</h1>
  <div class="row g-3">
    <div class="col-6 col-md-4">
      <div class="card shadow-sm">
        <img src="https://img.freepik.com/free-vector/simple-vibing-cat-square-meme_742173-4493.jpg?semt=ais_rp_50_assets&w=740&q=80" class="card-img-top" alt="Gallery image 1">
      </div>
    </div>
    <div class="col-6 col-md-4">
      <div class="card shadow-sm">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRjnK1xGYYX2rUEeUB1ub4O88hB4-bbd1TJSA&s" class="card-img-top" alt="Gallery image 2">
      </div>
    </div>
    <div class="col-6 col-md-4">
      <div class="card shadow-sm">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRByH5wKzUUC7Tx1DVh3TBpz5BvYKsOlZt-Yg&s" class="card-img-top" alt="Gallery image 3">
      </div>
    </div>
    <div class="col-6 col-md-4">
      <div class="card shadow-sm">
        <img src="https://s.cafebazaar.ir/images/icons/memes.stickers.wastickerapps-959c9691-f6de-439a-ac83-9c0ccbb3d39a_512x512.png?x-img=v1/resize,h_256,w_256,lossless_false/optimize" class="card-img-top" alt="Gallery image 4">
      </div>
    </div>
    <div class="col-6 col-md-4">
      <div class="card shadow-sm">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTP4PhQGXJ2ehavoPYYQ6Oy93jFOAr9S2RYUg&s" class="card-img-top" alt="Gallery image 5">
      </div>
    </div>
    <div class="col-6 col-md-4">
      <div class="card shadow-sm">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSFwuAsEj1B_pIIOAr1vbSxIjqUgZyXoqeqDQ&s" class="card-img-top" alt="Gallery image 6">
      </div>
    </div>
  </div>
</div>
{% endblock %}